*{
margin: 0;
padding: 0;
box-sizing: border-box;

/*color palette*/
--maincolor: #241c4a;
--secondary: #f15a22;
--tertiary: white;
--bloop: #00aeef;
--floop: #9e5aa4;
}

#vid{
  object-fit: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .9;
  }

/* NAV */
.navbar{
display: flex;
justify-content: center;
align-items: center;
position: sticky;
top: 0;
}

.navbar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family:'Rock Salt', cursive;
  font-weight: 400;
  font-size: 20px;
}

#navs a{
  text-decoration: none;
  color: var(--floop);
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover{
  background-color: var(--bloop);
  color: var(--tertiary);
  transform: scale(1.5);
  box-shadow: 0 0 10 var(--bloop);
}

/* Main */
img{
  opacity: .90;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  width: 250px;
  position: relative;
  top: 300px;
  right: 50%;
  left: 39%;
}

#explore{
  font-family: 'Rock Salt', cursive;
  text-transform: uppercase;
  color: var(--secondary);
  display: block;
  font-size: 1.5vw;
  letter-spacing: .35vw;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 300px; 
  padding: 20px;
}
