*{
  padding: 0;
  box-sizing: border-box;
  
  /*color palette*/
  --maincolor: #241c4a;
  --secondary: #f15a22;
  --tertiary: white;
  --bloop: #00aeef;
  --floop: #9e5aa4;
  margin: 0;
}

/*Background Video*/
#vid{
  object-fit: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  }

/* hide the nav links until clicked */
.hide{
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-family:'Rock Salt', cursive;
  font-weight: 400;
  font-size: 20px;
}

.transformed{
  visibility: visible;
  background-color: var(--bloop);
  transition-delay: 250ms;
  border: var(--secondary);
  border-width: 5px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: sticky;
  transition-property: color flex;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
  display: flex;
}

.delay1{
  transition-delay: .5s;
}
.delay2{
  transition-delay: .8s;
}
.delay3{
  transition-delay: 1.1s;
}
.delay4{
  transition-delay: 1.4s;
}
.delay5{
  transition-delay: 1.7s;
}


/* NAV */
#navbar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0px;
}

#navs a{
  text-decoration: none;
  color: var(--floop);
  padding: 8px 25px;
  transition: all .5s ease;
}

a:hover{
  color: white;
  transition-delay: 200ms;
  background-color: var(--tertiary);
  border: var(--floop);
  border-width: 5px;
  border-radius: 8px;
  transform: scale(1.05);
  box-shadow: 15 15 15 var(--secondary);
}

/* Main */
#centerAll{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  left: 50%;
  right: 50%;
}

#logo{
  display: flex;
  flex-wrap: wrap;
  opacity: .95;
  height: 250px;
  width: 250px;
}

/*Explore BTN */
#explore span{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rock Salt', cursive;
  text-transform: uppercase;
  color: var(--maincolor);
  background-color: var(--tertiary);
  border-width: 5px;
  border-color: var(--floop);
  border-radius: 8px;
  font-size: .8vw;
  letter-spacing: .35vw;
  font-weight: 900;
  padding: 15px;
}

#explore:hover{
  border-width: 5px;
  border-color: var(--floop);
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 10 10 10 var(--tertiary);
  transform: scale(1.05);
}